/* Library
**************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "DarbySans";
  font-weight: light;
  font-style: normal;
  src: url("../fonts/DarbySans-Light.otf") format("opentype");
}
@font-face {
  font-family: "DarbySans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DarbySans-Regular.otf") format("opentype");
}
@font-face {
  font-family: "DarbySansPoster";
  font-weight: thin;
  font-style: normal;
  src: url("../fonts/DarbySansPoster-XLight.otf") format("opentype");
}
@font-face {
  font-family: "DarbySansPoster";
  font-weight: light;
  font-style: normal;
  src: url("../fonts/DarbySansPoster-Light.otf") format("opentype");
}
@font-face {
  font-family: "DarbySansPoster";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DarbySansPoster-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Mercury";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Mercury-TextG1Roman.otf") format("opentype");
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "DarbySans", "Ariel", sans-serif;
  font-size: 62.5%;
  position: relative;
  overflow: auto;
}

a,
button {
  cursor: pointer;
  color: inherit;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Components
**************************************/
/* Directives
**************************************/
/*
 * 1) VW for more a more responsive box-shadow
 * 	  PX backup for graceful degredation
 */
.master-wrapper {
  position: relative;
  padding: 30px 20px 20px;
}

.page-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 200px black inset;
  /* 1 */
  box-shadow: 0px 0px 16vw black inset;
  /* 1 */
}

.page-content {
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  min-height: calc(100% - 50px);
}

.view-content {
  width: 100%;
  position: relative;
  z-index: 1;
}

header {
  width: 100%;
  position: relative;
  z-index: 1;
}
header .site-id {
  display: block;
  height: 40px;
  width: 270px;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.footer-icons {
  position: absolute;
  bottom: 20px;
  right: 40px;
}
.footer-icons li {
  float: left;
  margin: 0 5px;
  position: relative;
}
.footer-icons li:first-of-type {
  margin-left: 0;
}
.footer-icons li:last-of-type {
  margin-right: 0;
}
.footer-icons li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 75%;
  width: 75%;
  border-radius: 50%;
  z-index: 1;
  -webkit-transition: background-color 0.1s ease-in;
          transition: background-color 0.1s ease-in;
}
.footer-icons li:hover::before {
  background-color: white;
}
.footer-icons a {
  display: block;
  height: 24px;
  width: 28px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.footer-icons-facebook {
  background-image: url("../images/facebook-icon.png");
}
.footer-icons-twitter {
  background-image: url("../images/twitter-icon.png");
}
.footer-icons-instagram {
  background-image: url("../images/instagram-icon.png");
}
.footer-info {
  display: inline-block;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: .05em;
}
.footer-info li {
  float: left;
}
.footer-info li:not(:last-of-type)::after {
  content: '|';
  padding: 10px;
}

.main-nav {
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.6;
  text-transform: uppercase;
}
.main-nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 5%;
  width: 100%;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.main-nav-list li {
  padding: 0 20px;
}
.main-nav-link {
  border-bottom: 3px solid transparent;
  -webkit-transition: border-color 0.1s ease-in;
          transition: border-color 0.1s ease-in;
}
.main-nav-link:hover, .main-nav-link.active {
  border-color: white;
}
.main-nav-book-now {
  background: black;
  border: 1px solid white;
  border-radius: 5px;
  width: 140px;
  height: 40px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-transition: background 0.1s ease-in;
          transition: background 0.1s ease-in;
}
.main-nav-book-now:hover {
  background: rgba(0, 0, 0, 0.75);
}

.cornered-border-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.cornered-border-list li {
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../images/corner.png");
  background-size: contain;
}
.cornered-border-list li:nth-of-type(1) {
  top: 0;
  left: 0;
  -webkit-transform: rotate(-90deg) translate(100%, -100%);
      -ms-transform: rotate(-90deg) translate(100%, -100%);
          transform: rotate(-90deg) translate(100%, -100%);
}
.cornered-border-list li:nth-of-type(2) {
  top: 0;
  right: 0;
  -webkit-transform: rotate(0deg) translate(100%, -100%);
      -ms-transform: rotate(0deg) translate(100%, -100%);
          transform: rotate(0deg) translate(100%, -100%);
}
.cornered-border-list li:nth-of-type(3) {
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(180deg) translate(100%, -100%);
      -ms-transform: rotate(180deg) translate(100%, -100%);
          transform: rotate(180deg) translate(100%, -100%);
}
.cornered-border-list li:nth-of-type(4) {
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(90deg) translate(100%, -100%);
      -ms-transform: rotate(90deg) translate(100%, -100%);
          transform: rotate(90deg) translate(100%, -100%);
}
.cornered-border-wrapper {
  position: relative;
}
.cornered-border-wrapper.small-corners li {
  width: 7px;
  height: 7px;
}

/* Views
**************************************/

/*# sourceMappingURL=main.css.map */